{% extends "CJIMayFlyBundle::layout.html.twig" %}

{% block title %}
    conditions d'utilisation - {{ parent() }}
{% endblock %}

{% block cjimayfly_body %}
<!--========================================================
                           CONTENT
 =========================================================-->

<main>

    <section class="well well1 well1_ins1">
        <div class="container center991">
            <h2>L'essentiel</h2>
            <p>
                Utilisé notre application pour faire autre chose qu'accéder au lien de cette page de termes d'utilisation ou accéder à n'importe qu'elle autre page du site autre que la page d'accueil ou cette page de termes d'utilisation constitue votre accord à ces termes d'utilisation et à notre politique de confidentialité. Si vous n'ête pas d'accord, veuillez ne pas utiliser notre site.
            </p>
            <p>
                Votre utilisation de notre site pour faire autre chose que simplement avoir accès/regarder ( cela comprend uploader, télécharger, etc ), ne constitue pas seulement votre consentement, mais aussi votre signature électronique, signifiant que vous ête contractuellement lié à ces termes et par notre politique de confidentialité.
            </p>
            <h4>Choses à ne pas faire</h4>
            <p>
                Si quelqu'un d'autre devait détenir les droits d'une image, ne l'uploadé pas. N'uploadé pas de gore, de discours haineux ( par exemple humiliant une race, un genre, l'age, la religion ou les orientation sexuel, etc ...), ou du matériel qui servirais à menacer, harasser, difamatoire, ou qui encourage à la violence ou au crime. N'uploadé aucun contenu illégal tel que des images pédo-pornographique ou des images pornogrpahique sans-consentement ("revenge"). Ne Poster pas de lien vers du contenu pour adulte ou vers des sites de partages de fichier, de jeux d'argent, de torrent, warez. Ne prenez pas l'identité de quelqu'un d'autre. si vous faites l'une de ces choses ou si vous faite n'importe quoi d'illégal ( et nous serons les seuls juges ), en plus de tout les autres droits légal que nous pourrions avoir, nous vous interdirons l'accès au site, effacerons touts vos upload, nous vous signalerons au authorités si nécessaire.
            </p>
            <h4>Choses à faire, svp</h4>
            <p>
                Amusez vous! C'est ce pourquoi ce site existe. Si quelque chose n'est pas amusant, si vous voyez quelque chose sur notre site qui ne devrais pas être sur notre site parcequ'il viole notre politique, est illégal ( contenu pédo-pornographique ou sans-consentement ), ou pour une autre raison, veuillez nous prévenir en nous envoyant un email a cette adresse : addressebidon@whynot.com .
            </p>
        </div>
    </section>
</main>
{% endblock %}